<template>
    <div>
        <h1>Counter</h1>

        <p>This is a simple example of a Vue.js component.</p>

        <p>Current count: <strong>{{ currentcount }}</strong></p>
        <p>Test count: <strong>{{ testcount }}</strong></p>

        <button @click="incrementCounter">Increment</button>

        <div id="app">
            <input v-model="message" placeholder="test">
            <p>Message: {{ message }}</p>
        </div>
        
    </div>
</template>,

<script src="./counter.ts"></script>
