# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WebZoomVueJS.iml
# Datasource local storage ignored files
/../../../../../../:\C#DEV\WebZoomVueJS\.idea\.idea.WebZoomVueJS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
